In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

In [5]:
var=10

In [6]:
# Single line comment 
val1 = 10

In [7]:
# Multiple 
# line 
# comment 
val1 = 10

In [8]:
''' 
Multiple 
line 
comment 
''' 
val1 = 10

In [9]:
"""
Multiple 
line 
comment 
"""
val1 = 10

In [10]:
p= 20  
q = 20  
r = q  
p , type(p), hex(id(p))

(20, int, '0x7fff683e2c18')

In [11]:
q , type(q), hex(id(q))

(20, int, '0x7fff683e2c18')

In [12]:
r , type(r), hex(id(r))

(20, int, '0x7fff683e2c18')

In [13]:
p = 20 
p = p + 10 
p

30

In [14]:
intvar = 10 
floatvar = 2.57  
strvar = "Python Language" 
print(intvar) 
print(floatvar) 
print(strvar)

10
2.57
Python Language

In [15]:
intvar , floatvar , strvar = 10,2.57,"Python Language" 
print(intvar) 
print(floatvar) 
print(strvar)

10
2.57
Python Language

In [16]:
p1=p2=p3=p4=40
print(p1,p2,p3,p4)

40 40 40 40

In [17]:
val1 = 10
print(val1) 
print(type(val1)) # type of object 
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int))

10
<class 'int'>
28
10  is Integer? True

In [21]:
val1 = 28.99
print(val1) 
print(type(val1)) # type of object 
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Float?", isinstance(val1, float))

28.99
<class 'float'>
24
28.99  is Float? True

In [20]:
val1 = 20+30j
print(val1) 
print(type(val1)) 
print(sys.getsizeof(val1))
print(val1, " is Complex?", isinstance(val1, complex))

(20+30j)
<class 'complex'>
32
(20+30j)  is Complex? True

In [22]:
sys.getsizeof(int())

28

In [23]:
sys.getsizeof(float())

24

In [24]:
sys.getsizeof(complex())

32

In [32]:
bool1=True
bool2=False
print(type(bool1))
print(type(bool2))
isinstance(bool1,bool)

<class 'bool'>
<class 'bool'>

True

In [28]:
bool(0)

False

In [29]:
bool(1)

True

In [31]:
bool(None)

False

In [33]:
bool(False)

False

In [34]:
str1 = "HELLO PYTHON" 
print(str1)

HELLO PYTHON

In [35]:
str1 = 'HELLO PYTHON' 
print(str1)

HELLO PYTHON

In [37]:
str1 = '''Hello 
            World'''
print(str1)

Hello
            World

In [38]:
str1 = """Hello 
        World"""
print(str1)

Hello
        World

In [39]:
mystr = ('Happy ' 
'Monday ' 
'Everyone')
print(mystr)

Happy Monday Everyone

In [41]:
str="woo  "
str=str*5
print(str)

woo  woo  woo  woo  woo

In [42]:

len(str)

25

In [44]:
str2='Hello Python'
print(str2)

Hello Python

In [45]:
str2[0]

'H'

In [46]:
 
str2[len(str2)-1]

'n'

In [48]:
str2[-1]

'n'

In [49]:
str2[6]

'P'

In [50]:
str2[5]

' '

In [51]:
str2[0:5]

'Hello'

In [52]:
str2[6:12]

'Python'

In [53]:
str2[-4:]

'thon'

In [54]:
str2[-6:]

'Python'

In [55]:
str2[:4]

'Hell'

In [56]:
str2[:5]

'Hello'

In [57]:
s1 = "Hello" 
s2 = "World" 
s3 = s1 + s2 
print(s3)

HelloWorld

In [58]:
print(3 + 2)

5

In [59]:
print(3-2)

1

In [60]:
print(3*2)

6

In [61]:
print(3/2)

1.5

In [62]:
print(3**2)

9

In [63]:
print(3%2)

1

In [64]:
print(3//2)

1

In [65]:
print(type(10))

<class 'int'>

In [66]:
print(type(20.43))

<class 'float'>

In [67]:
print(type(10_20j))

<class 'complex'>

In [68]:
print(type("Hello"))

<class 'str'>

In [70]:
print(type([1,2,3]))

<class 'list'>

In [71]:
print(type({"name":"neelima"}))

<class 'dict'>

In [72]:
print(type({9.8, 3.14, 2.7}))

<class 'set'>

In [73]:
print(type((9.8, 3.14, 2.7)))

<class 'tuple'>

In [74]:
print(type(3 == 3))

<class 'bool'>

In [75]:
print(type(4 > 3))

<class 'bool'>

In [76]:
z=3+5j
print(z.real)
print(z.imag)

3.0
5.0

In [78]:
a=5+7j
b=3+2j
print(a+b)
print(a-b)

print(a/b)

(8+9j)
(2+5j)
(2.230769230769231+0.8461538461538463j)

In [79]:
print(a*b)

(1+31j)

In [80]:
print(abs(z))

5.830951894845301

In [84]:
print(z.conjugate)

<built-in method conjugate of complex object at 0x000002555B2D2790>

In [85]:
import cmath

In [86]:
z=1+1j
print(cmath.phase(z))
print(cmath.polar(z))
print(cmath.sqrt(z))

0.7853981633974483
(1.4142135623730951, 0.7853981633974483)
(1.09868411346781+0.45508986056222733j)

In [87]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                        
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5

In [88]:
print('Division without the remainder: ', 7 // 2)  
print('Modulus: ', 3 % 2)                           
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)

Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [89]:
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [90]:
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [91]:
a = 3 
b = 2
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [92]:
print(total) 
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [94]:
num_one = 3
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [95]:
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [96]:
radius = 10                                
area_of_circle = 3.14 * radius ** 2         
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [97]:
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [98]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [99]:
print(3 > 2)     
print(3 >= 2)   
print(3 < 2)     
print(2 < 3)    
print(2 <= 3)   
print(3 == 2)    
print(3 != 2)    
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [100]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [102]:
print('1 is 1', 1 == 1)                   
print('1 is not 2', 1 != 2)           
print('A in Avaneesh', 'A' in 'Avaneesh') 
print('B in Avaneesh', 'B' in 'Avaneesh') 
print('coding' in 'coding for all') 
print('a in an:', 'a' in 'an')      
print('4 is 2 ** 2:', 4 == 2 ** 2)

1 is 1 True
1 is not 2 True
A in Avaneesh True
B in Avaneesh False
True
a in an: True
4 is 2 ** 2: True

In [103]:
print(3 > 2 and 4 > 3) 
print(3 > 2 and 4 < 3) 
print(3 < 2 and 4 < 3) 
print(3 > 2 or 4 > 3)  
print(3 > 2 or 4 < 3)  
print(3 < 2 or 4 < 3)  
print(not 3 > 2)    
print(not True)     
print(not False)    
print(not not True) 
print(not not False)

True
False
False
True
True
False
False
False
True
True
False

In [1]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)

P
1
Hello, World!
13
I hope you are enjoying 30 days of python challenge

In [2]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [3]:
first_name = 'Asaben'
last_name = 'Yetjdskfjdkf'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh
# Checking length of a string using len() builtin function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 15

Asaben Yetjdskfjdkf
6
12
False
19

In [4]:
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [5]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [6]:
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
o

In [7]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three)
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

In [8]:
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [9]:
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [1]:
challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [2]:
challenge = 'thirty days of python'
print(challenge.count('y')) 
print(challenge.count('y', 7, 14)) 
print(challenge.count('th'))

3
1
2

In [4]:
challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('thon')) # False

True
True

In [6]:
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(15)) # 'thirty    days      of        python'

thirty  days    of      python
thirty         days           of             python

In [7]:
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [8]:
first_name = 'abscd'
last_name = 'test123'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence)

I am abscd test123. I am a teacher. I live in Finland.

In [10]:
radius = 10
pi = 3.14
area = pi * radius ** 2
result = 'The area of circle with radius {} is {}'.format(str(radius), str(area))
print(result)

The area of circle with radius 10 is 314.0

In [11]:
challenge = 'thirty days of python'
print(challenge.find('y')) 
print(challenge.find('th'))

5
0

In [12]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum())

True

In [13]:
challenge = '30DaysPython'
print(challenge.isalnum()) # True

True

In [21]:
challenge = 'thirty days of pytho 2019'
print(challenge.isalnum()) # False

False

In [23]:
challenge = 'thirtydaysofpython'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())

True
False

In [24]:
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [26]:
challenge = 'Thirty'
print(challenge.isdigit()) 
challenge = '30'
print(challenge.isdigit())

False
True

In [29]:
num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal())

True
False

In [30]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty days of python'
print(challenge.isidentifier()) # True

False
False

In [32]:
challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'thirty days of python'
print(challenge.islower()) # False

True
True

In [33]:

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [34]:
num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())

True
False

In [35]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result)

HTML#, CSS#, JavaScript#, React

In [37]:
challenge = ' thirty days of python '
print(challenge.strip()) # 5

thirty days of python

In [38]:
challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [ ]:
challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [40]:
challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [41]:
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [42]:
challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [45]:
first_name = 'test'
last_name = 'test2'
country = 'HYD'
city = 'TELENGANA'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'testing', 
    'lastname':'python', 
    'country':'Finland',
    'city':'Helsinki'  
    }

In [46]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: test
First name length: 4
Last name:  test2
Last name length:  5
Country:  HYD
City:  TELENGANA
Age:  40087
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'testing', 'lastname': 'python', 'country': 'Finland', 'city': 'Helsinki'}

In [47]:
first_name, last_name, country, age, is_married = 'testyuuj', 'jjhjh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

testyuuj jjhjh Helsink 250 True
First name: testyuuj
Last name:  jjhjh
Country:  Helsink
Age:  250
Married:  True