In [1]:
a=10 
b=20 
a 
b

20

In [2]:
a=10 
b=20 
print(a) 
print(b)

10
20

In [3]:
print(10,20) 
print('python') 
print(10,20,'python')

10 20
python
10 20 python

In [4]:
num1=20 
num2=30 
add=num1+num2 
print(add)

50

In [5]:
num1=20 
num2=30 
add=num1+num2 
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [6]:
name='Python' 
age=20 
city='Mumbai'
print('My name is',name,'and i am',age,'years old from',city)

My name is Python and i am 20 years old from Mumbai

In [7]:
num1=20 
num2=30 
add=num1+num2 
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [9]:
name='Python' 
age=20 
city='Mumbai'
print('My name is {} and I am {} years old from {}'.format(name,age,city))

My name is Python and I am 20 years old from Mumbai

In [11]:
num1=100 
num2=25 
num3=333 
num1=20 
num2=30 
avg=(num1+num2+num3)/3  
avg1=round((num1+num2+num3)/3,2)
print('The average of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, 
avg,avg1))

The average of 20, 30, and 333 is= 127.66666666666667 or 127.67

In [12]:
round(avg,2)

127.67

In [13]:
num1=20 
num2=30 
add=num1+num2 
print(f'The addition of {num1} and {num2} is {add}')

The addition of 20 and 30 is 50

In [15]:
name='Python' 
age=20 
city='Mumbai' 
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Python, and i am 20 year old, from Mumbai.

In [16]:
num1=100 
num2=25 
num3=333 
avg=round((num1+num2+num3)/3,2)
print(f'The average of {num1},{num2} and {num3} is {avg}')

The average of 100,25 and 333 is 152.67

In [19]:
num1=10 
num2=20 
add = num1+ num2
print('the addition of',num1,'and',num2,'is',add)
print('The addition of {} and {} is {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is {add}')

the addition of 10 and 20 is 30
The addition of 10 and 20 is 30
The addition of 10 and 20 is 30

In [20]:
print('hello')  
print('Good morning')

hello
Good morning

In [21]:
print('hello', end=' ') 
print('world good day')

hello world good day

In [22]:
print('hello','Hi','how are you',sep='--->')

hello--->Hi--->how are you

In [ ]:
print('hello','Hi','how are you',sep='&')

hello&hai&how are you

In [24]:
print('hello','Hi','how are you',sep='@')

hello@Hi@how are you

In [25]:
print('hello','Hi','how are you',sep=' ')

hello Hi how are you

In [26]:
print(3,'.')

3 .

In [27]:
print(3,'.',sep='')

3.

In [28]:
print(1,2,end=' ') 
print(3,'.',sep='')

1 2 3.