In [1]:
s={}
s

{}

In [2]:
type(s)

dict

In [3]:
s1=set()
s1

set()

In [4]:
type(s1)

set

In [5]:
s1.add(20)

In [6]:
s1

{20}

In [7]:
s1.add(30,40)

TypeError: set.add() takes exactly one argument (2 given)

In [8]:
s1.add(10)
s1.add(100)
s1.add(25)

In [9]:
s1

{10, 20, 25, 100}

In [10]:
s1.add(10)
s1

{10, 20, 25, 100}

In [11]:
s1[0]

TypeError: 'set' object is not subscriptable

In [12]:
s1[:]

TypeError: 'set' object is not subscriptable

In [13]:
s1.add([1,2,3])

TypeError: unhashable type: 'list'

In [14]:
s2=set()
s2

set()

In [15]:
s2.add(10)
s2.add(1.2)
s2.add(1+2j)
s2.add(True)
s2.add('nit')

In [16]:
s2

{(1+2j), 1.2, 10, True, 'nit'}

In [17]:
print(s1)
print(s2)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}

In [18]:
id(s1)==id(s2)

False

In [19]:
s3=s2.copy()

In [20]:
s3

{(1+2j), 1.2, 10, True, 'nit'}

In [21]:
s2==s3

True

In [22]:
print(s1)
print(s2)
print(s3)

{100, 25, 10, 20}
{1.2, True, (1+2j), 10, 'nit'}
{1.2, True, (1+2j), 10, 'nit'}

In [23]:
s2.pop()
s2

{(1+2j), 10, True, 'nit'}

In [24]:
s2.pop()

True

In [25]:
s2

{(1+2j), 10, 'nit'}

In [26]:
s1

{10, 20, 25, 100}

In [27]:
s

{}

In [28]:
s3

{(1+2j), 1.2, 10, True, 'nit'}

In [29]:
s3.remove((1+2j))

In [30]:
s3

{1.2, 10, True, 'nit'}

In [31]:
s3.remove(1000)

KeyError: 1000

In [32]:
s3.discard(1000)

In [33]:
s3.discard(True)

In [34]:
s3

{1.2, 10, 'nit'}

In [35]:
print(s1)
print(s2)
print(s3)

{100, 25, 10, 20}
{(1+2j), 10, 'nit'}
{1.2, 10, 'nit'}

In [36]:
for i in s1:
    print(i)

100
25
10
20

In [37]:
for i in enumerate(s1):
    print(i)

(0, 100)
(1, 25)
(2, 10)
(3, 20)

In [2]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [39]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
b|c

{4, 5, 6, 7, 8, 9, 10}

In [42]:
a|b|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [43]:
a.difference(b)

{1, 2, 3}

In [45]:
a.difference(c)

{1, 2, 3, 4, 5}

In [46]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [47]:
c.difference(a)

{8, 9, 10}

In [48]:
c.difference(b)

{9, 10}

In [49]:
c.difference(c)

set()

In [3]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [4]:
c ^ a

{1, 2, 3, 4, 5, 8, 9, 10}

In [5]:
a.symmetric_difference_update(b)

In [6]:
print(a)
print(b)
print(c)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [7]:
a.intersection(b)

{6, 7, 8}

In [8]:
a & b

{6, 7, 8}

In [9]:
a & b &c

{8}

In [10]:
c.intersection_update(b)

In [11]:
c

{8}

In [12]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

In [13]:
B1.issubset(A1)

True

In [14]:
A1.issuperset(B1)

True

In [15]:
C1.isdisjoint(A1)

True

In [16]:
C1.isdisjoint(B1)

True

In [17]:
A2 = {15,25,35,45}
B2 = {3,4,5,6,7,8}
C2 = {10,20,30,40}

In [18]:
B2.issubset(A2)

False

In [19]:
A2.issuperset(B2)

False

In [20]:
C2.isdisjoint(A2)

True

In [21]:
C2.isdisjoint(B2)

True

In [22]:
d={}

In [23]:
type(d)

dict

In [24]:
d1 = {1:'one', 2:'two', 3: 'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [25]:
d2 = {'one' : 1, 'two':2, 'three' : 3}
d2

{'one': 1, 'two': 2, 'three': 3}

In [26]:
d2

{'one': 1, 'two': 2, 'three': 3}

In [28]:
d2.keys()

dict_keys(['one', 'two', 'three'])

In [29]:
d2.values()

dict_values([1, 2, 3])

In [30]:
d2.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [31]:
len(d2)

3

In [32]:
myset = {1,2,3,4,5} # Set of numbers 
myset

{1, 2, 3, 4, 5}

In [33]:
len(myset)

5

In [34]:

my_set = {1,1,2,2,3,4,5,5} 
my_set

{1, 2, 3, 4, 5}

In [35]:

myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [36]:

myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings 
myset2

{'Asif', 'John', 'Tyrion'}

In [37]:

myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes 
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [38]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li 
myset3

TypeError: unhashable type: 'list'

In [39]:
myset4 = set() # Create an empty set 
print(type(myset4))

<class 'set'>

In [40]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

In [41]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
for i in myset:
    print(i)

four
five
two
eight
seven
six
three
one

In [42]:
for i in enumerate(myset):
    print(i)

(0, 'four')
(1, 'five')
(2, 'two')
(3, 'eight')
(4, 'seven')
(5, 'six')
(6, 'three')
(7, 'one')

In [43]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [44]:
'one' in myset

True

In [45]:
'ten' in myset

False

In [47]:
 
if 'three' in myset: # Check if 'three' exist in the set 
    print('Three is present in the set') 
else: 
    print('Three is not present in the set')

Three is present in the set

In [48]:
if 'ten' in myset: # Check if 'three' exist in the set 
    print('Ten is present in the set') 
else: 
    print('Ten is not present in the set')

Ten is not present in the set

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [50]:
myset.add('NINE')

In [51]:
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [65]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [68]:
myset.remove('ELEVEN')
myset

{'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [69]:
 
myset.discard('TEN') # remove item from a set using discard() method 
myset

{'TWELVE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [70]:
myset.clear()
myset

set()

In [ ]:
del myset
myset

In [71]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [72]:

myset1 = myset 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [73]:
id(myset)==id(myset1)

True

In [74]:
my_set=myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [75]:
id(my_set)

1757073711488

In [76]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [78]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [79]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [80]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [83]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [84]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [85]:
A & B

{4, 5}

In [86]:
A.intersection(B)

{4, 5}

In [88]:
A.intersection_update(B)
A

{4, 5}

In [89]:

A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [90]:
A-B

{1, 2, 3}

In [91]:
A.difference(B)

{1, 2, 3}

In [92]:
B-A

{6, 7, 8}

In [93]:
B.difference(A)

{6, 7, 8}

In [95]:
B.difference_update(A)
A 
B

{6, 7, 8}

In [96]:
A

{1, 2, 3, 4, 5}

In [97]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [98]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [99]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [100]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [101]:
A= {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [102]:
B.issubset(A)

True

In [103]:
A.issuperset(B)

True

In [104]:
C.isdisjoint(A)

True

In [105]:
B.isdisjoint(A)

False

In [106]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [107]:
sum(A)

45

In [108]:
max(A)

9

In [109]:
min(A)

1

In [110]:
len(A)

9

In [111]:

list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [114]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
mydict=dict()

In [117]:
mydict={}
mydict

{}

In [118]:
mydict = {1:'one' , 2:'two' , 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [119]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [120]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}  
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [121]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [122]:
mydict.keys()

dict_keys([1, 'A', 3])

In [123]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [124]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [125]:
mydict = {1:'one' , 2:'two' , 'A':['test1' , 'test2' , 'test3']}  
mydict

{1: 'one', 2: 'two', 'A': ['test1', 'test2', 'test3']}

In [126]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],'B':['Cat','Mat','Bat']} # dictionary with 
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ['Cat', 'Mat', 'Bat']}

In [128]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age':30},'B':['Cat','Bat','Mat']} # dictionary with 
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 30},
 'B': ['Cat', 'Bat', 'Mat']}

In [129]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) 
mydict3

{'b': None, 'c': None, 'd': None, 'a': None}

In [130]:

keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'b': 10, 'c': 10, 'd': 10, 'a': 10}

In [131]:

keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30]}

In [132]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [133]:

mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [135]:
mydict[1]

'one'

In [136]:
mydict.get(1)

'one'

In [137]:

mydict1 = {'Name':'test' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'test', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [138]:
mydict1['Name']

'test'

In [139]:
mydict1.get('job')

'Analyst'

In [140]:
mydict1 = {'Name':'test23' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'test23', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [141]:
mydict1['DOB']=1992
mydict1['Address']='Delhi'
mydict1

{'Name': 'test23', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [142]:

dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'test23', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [143]:

mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'test23',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [144]:
mydict1.pop('Job')
mydict1

{'Name': 'test23', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [145]:
mydict1.popitem()
mydict1

{'Name': 'test23', 'ID': 12345, 'DOB': 1995}

In [146]:

del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'test23', 'DOB': 1995}

In [147]:
mydict1.clear()
mydict1

{}

In [ ]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [150]:
mydict = {'Name':'test' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'test', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [151]:
mydict1=mydict

In [152]:
id(mydict),id(mydict1)

(1757074059904, 1757074059904)

In [153]:
mydict2=mydict.copy()

In [154]:
id(mydict2)

1757075653632

In [155]:
mydict1['Address']='Mumbai'
mydict1

{'Name': 'test', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [156]:
mydict

{'Name': 'test', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [157]:
mydict2

{'Name': 'test', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [158]:

mydict1 = {'Name':'testing' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job':'Analyst'}
mydict1

{'Name': 'testing',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [159]:
for i in mydict1:
    print(i,':',mydict1[i])

Name : testing
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [160]:
for i in mydict1:
    print(mydict1[i])

testing
12345
1991
Hilsinki
Analyst

In [161]:
mydict1 = {'Name':'testdict' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'testdict', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [162]:
'Name' in mydict1

True

In [163]:
'testdict' in mydict1

False

In [164]:
'ID' in mydict1

True

In [165]:
'Address' in mydict1

False

In [168]:

mydict1 = {'Name':'testdict1' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'testdict1', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [167]:
all(mydict1)

True

In [169]:
any(mydict1)

True