In [1]:
tup1=()

In [2]:
tup2= (10,20,30)

In [3]:
tup3=(10.3434,45.4545,98.7676)

In [4]:
tup4=('one','two','three')

In [5]:
tup5=('Test',25,(50,100),(50,47))

In [6]:
tup6=(10,'test6',18.5885)

In [7]:
tup7=('Test7',25,[59,56],[150,90],{'John','David'},(99,56,73))

In [8]:
len(tup7)

6

In [9]:
tup2[0]

10

In [10]:
tup4[0]

'one'

In [11]:
tup4[0][0]

'o'

In [12]:
tup4[-1]

'three'

In [13]:
tup5[-1]

(50, 47)

In [14]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [15]:
mytuple[0:3]

('one', 'two', 'three')

In [16]:
mytuple[2:5]

('three', 'four', 'five')

In [17]:
mytuple[:3]

('one', 'two', 'three')

In [18]:
mytuple[:2]

('one', 'two')

In [19]:
mytuple[-3:]

('six', 'seven', 'eight')

In [20]:
mytuple[-2:]

('seven', 'eight')

In [21]:
mytuple[-1]

'eight'

In [22]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [23]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [25]:
del mytuple

In [26]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [27]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [28]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [29]:
'one' in mytuple

True

In [30]:
'ten' in mytuple

False

In [ ]:
if 'three' in mytuple:
    print("Three is present in the tuple")
else:
    print("Three is not present in the tuple")

Three is present in the tuple

In [32]:
if 'eleven' in mytuple:
    print("Eleven is present in the tuple")
else:
    print("Eleven is not present in the tuple")

Eleven is not present in the tuple

In [33]:
mytuple.index('one')

0

In [34]:
mytuple.index('five')

4

In [35]:
mytuple1=('one','two','three','four','five','six','seven','eight')

In [36]:
mytuple1.index('one')

0

In [37]:
mytuple2=(43,67,99,12,4,2,67,89)

In [38]:
sorted(mytuple2)

[2, 4, 12, 43, 67, 67, 89, 99]

In [39]:
sorted(mytuple2,reverse=True)

[99, 89, 67, 67, 43, 12, 4, 2]